.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 30px;
}

.icon{
  font-size: var(--textSize);
  color: var(--darkBlue);
  background-color: transparent;
  border: none;
  font-size: var(--titleSize);
  margin-left: 5px;
}

.input{
  border-radius: 12px;
  padding-left: 14px;
  font-size: var(--textSize);
  color: var(--darkGray);
  width: 70vw;
  padding-top: 8px;
  padding-bottom: 8px;
}

.input:focus{
  outline: none;
}

@media (min-width: 1024px){
  .container{
    padding-top: 150px;
    padding-bottom: 50px;
  }
}