@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&family=Roboto:wght@100&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --darkGray: #444444;
  --darkBlue: #001233;
  --darkBlueHover: #00205c;
  --cream: #F6F6EB;
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --xl2: 1563px;
  --textSize: 1.4rem;
  --titleSize: 2.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
