.container{
  background-color: var(--darkBlue);
  font-size: var(--textSize);
  text-align: center;
  color: white;
  padding-top: 10%;
  margin-top: 40px;
}

.rights{
  margin: 0;
  padding-top: 15vh;
  padding-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}