.container{
  background-color: var(--darkBlue);
  font-size: var(--textSize);
  text-align: center;
  color: white;
  padding-top: 1%;
  margin-top: 40px;
}

.rights{
  margin:0;
  padding-top:0vh;
  padding-bottom: 15px;
  margin-left: 5%;
  margin-right: 5%;
}